<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="floatingInput"
                  placeholder="2300287246"
                  [(ngModel)]="nombre"
                />
                <label for="floatingInput">Nombre</label>
              </div>
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="floatingInput"
                  placeholder="2300287246"
                  [(ngModel)]="nombre"
                />
                <label for="floatingInput">Cédula de Identidad</label>
              </div>
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="floatingInput"
                  placeholder="2300287246"
                  [(ngModel)]="telefono"
                />
                <label for="floatingInput">Telefono</label>
              </div>
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="floatingInput"
                  placeholder="2300287246"
                  [(ngModel)]="correo"
                />
                <label for="floatingInput">Correo</label>
              </div>
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="floatingInput"
                  placeholder="2300287246"
                  [(ngModel)]="direccion"
                />
                <label for="floatingInput">Direccion</label>
              </div>
              <button class="btn btn-primary">Guardar</button>
              <br /><br />
        </div>
    </div>  
</div>